<main role="main" class="container mt-5">
    <div class=>
        <div>
            <h1 class="">View all Messages</h1>
        </div>
    </div>

    <div class="my-3 p-3 bg-write rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
        <div class=" text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Question answers</strong>
                Q: How do I request a ride? <br>
                A: To request a ride, simply open the app, enter your destination, and select the type of ride you
                want. Then, confirm your pickup location and tap "Request."
            </p>
        </div>
        <div class=" text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Question answers</strong>
                Q: How do I cancel a ride? <br>
                A: To cancel a ride, open the app, go to your trip details, and select "Cancel Trip." Please note
                that cancellation fees may apply if you cancel after a certain time or repeatedly cancel rides.
            </p>
        </div>
        <div class=" text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Complaints answers</strong>
                Q: My driver took a longer route than necessary. Can I get a refund? <br>
                A: We apologize for any inconvenience caused. TSP fares are calculated based on the most efficient
                route, and any deviations can impact the fare. However, if you believe the driver took an unnecessarily
                longer route, please provide trip details in the app's Help section, and our support team will review
                your case.
            </p>
        </div>
        <div class=" text-muted pt-3">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Lost Property - answers</strong>
                Q: I left my wallet in the Uber. How can I retrieve it? <br>
                A: We're sorry to hear that you left your wallet in the TSP.Our support team will reach out to your driver to inquire about the lost item.
                If your wallet is found, the driver will coordinate with you to arrange its return.
            </p>
        </div>
    </div>
</main>