.navbar-brand{
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-item{
    font-size: 17px;
    font-weight: 500;
}
.navmb{
    margin-bottom: -40px;
}
