<div class="mainDiv">
        <div class="cardStyle">
            <h2 class="formTitle">
            Change the password
            </h2>
            
        <div class="inputDiv form-group">
            <label class="inputLabel" for="password">Old Password</label>
            <input type="password"  required class="form-control" formcontrolName="OldPassword" >
        </div>

        <div class="inputDiv form-group">
            <label class="inputLabel" for="password">New Password</label>
            <input type="password" class="form-control" required formcontrolName="NewPassword" >
        </div>
            
        <div class="inputDiv form-group">
            <label class="inputLabel" for="confirmPassword">Confirm New Password</label>
            <input type="password"  class="form-control" formcontrolName="confirmPassword" >
        </div>
        <div class="inputDiv form-group link">
            <a href="#">Forgot Password?</a>
        </div>
        
        <div class=" form-group buttonWrapper">
            <button type="submit"  class="btn btn-info custom-btn submitButton">
                Submit
            </button>
        </div>   
    </div>
    
  </div>
