<div class="mainDiv">
    <div class="cardStyle">

        <h2 class="formTitle">
            Post Your Question Here...
        </h2>
        <form id="contact-form" [formGroup]="formt" (ngSubmit)="submit()">
            <div class="controls">
                <div class="inputDiv form-group">
                    <label class="inputLabel" for="type">Do you have a question . Then post here we are here to guide you</label>
                </div>

                <div class="inputDiv form-group">
                    <label class="inputLabel" for="Description">Question</label>
                    <textarea id="area" name="area" class="form-control" formControlName="msg" rows="4" cols="50"
                        formControlName="msg" required="required"></textarea>
                </div>

                <div class="form-group buttonWrapper">
                    <!-- <button type="submit" class="btn btn-info custom-btn submitButton">
                    Submit
                </button> -->
                    <input [disabled]="!formt.valid" type="submit" class="btn btn-info custom-btn submitButton"
                        value="Submit">
                </div>
            </div>
        </form>
    </div>

</div>
