.mainDiv {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
  }
 .cardStyle {
    width: 500px;
    border-color: white;
    background: #10044ae0;
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: rgba(79, 85, 92, 0.675) 10px 10px 20px 10px;
  }
.formTitle{
  font-weight: 600;
  margin-top: 20px;
  color: #d8d7e0;
  text-align: center;
}
.inputLabel {
  font-size: 14px;
  color: #d8d7e0;
  margin-bottom: 6px;
  margin-top: 24px;
  font-family:Arial, Helvetica, sans-serif;
}
  .inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
input {
  height: 40px;
  font-size: 16px;
  border-radius: 0px;
  border: none;
  border-bottom: solid 3px #ccc;
  padding: 0 11px;
  background-color: transparent;
  color: #d8d7e0;
}

.buttonWrapper {
  margin-top: 40px;
}
  .submitButton {
    width: 70%;
    height: 40px;
    margin: auto;
    display: block;
    color: #fff;
    font-weight: bold;
    background-color: #0c8ce9;
    border-color: #0c8ce9;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
.link{
  color: #0c8ce9;
  margin-top: 24px ;
  margin-left: 300px;
  font-size: 14px;
}
a{
  text-decoration: none;
}
.submitButton:hover{
  background-color: #31b6eb;
}

input:focus{
  background: transparent;
  color: #d8d7e0;
  box-shadow: none;
}
textarea{
  background: transparent;
  color: #d8d7e0;
  box-shadow: none;
  border: none;
  border-bottom: solid 3px #ccc;
}

  