<div class="mainDiv">
    <div class="cardStyle">

        <h2 class="formTitle">
            Lost Property Details
        </h2>
        <form id="contact-form" [formGroup]="formt" (ngSubmit)="submit()">
            <div class="controls">
                <div class="inputDiv form-group">
                    <label class="inputLabel" for="type">Property Type</label>
                    <input id="name" type="text" name="name" class="form-control" formControlName="name">
                </div>

                <div class="inputDiv form-group">
                    <label class="inputLabel" for="date">Date of loss of property</label>
                    <input id="date" type="date" name="date" class="form-control" formcontrolName="date" id="date">
                </div>

                <div class="inputDiv form-group">
                    <label class="inputLabel" for="Description">Description of the Property</label>
                    <textarea id="area" name="area" class="form-control" rows="4" cols="50" formControlName="msg"></textarea>
                </div>

                <div class="form-group buttonWrapper">
                    <!-- <button type="submit" class="btn btn-info custom-btn submitButton">
                    Submit
                </button> -->
                    <input [disabled]="!formt.valid" type="submit" class="btn btn-info custom-btn submitButton"
                        value="Submit">
                </div>
            </div>
        </form>
    </div>

</div>