<div class="container rounded bg-white mt-0 mb-5 ">
    <div class="row">
        <!--side nav bar-->
        <div class="col-md-3 border-right mt-5 pt-5">
            <div class="list-group list-group-flush sidebar">
                <a class="list-group-item list-group-item-action list-group-item-light p-3 Dashboard side-list-item"
                    href="#!">Ride Now</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 side-list-item" href="#!">My
                    Activities</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 side-list-item"
                    href="#!">Payment Method</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 activeTab side-list-item "
                    href="#!">My Profile</a>
            </div>
        </div>
        <!--form starts-->
        <div class="col-md-5 border-right ">
            <form id="contact-form" [formGroup]="form" (ngSubmit)="submit()">
                <div class="p-3 py-5 controls">
                    <div class="d-flex justify-content-between align-items-center mb-0">
                        <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
                            alt="" width="100px">
                        <h4 class="text-right name">Sithumi Galappaththi</h4>
                    </div>
                    <!--validation part starts-->
                    <div class="row mt-2 form-group">
                        <div class="col-md-6 form-group"><label class="labels ">First Name</label><input type="text" id="fname" required="required" formControlName="fname"
                                class="form-control" placeholder="First name" value="" ></div>
                        <div class="col-md-6 form-group"><label class="labels">Last name</label><input type="text"
                                class="form-control" formControlName="lname" value="" placeholder="Last name" ></div>
                        <div class="col-md-12 form-group"><label class="labels">Mobile Number</label><input type="text"
                                class="form-control" placeholder="Mobile Number" name="mobileno" id="mobileno"
                                formControlName="mobileno"></div>
                        <div class="col-md-12 form-group"><label class="labels">Email</label> <br><label
                                class="email">sithumi.will@gmail.com</label></div>
                        <a href="" routerLink="/addemail"><button class="btn btn-primary btndefault  " type="button">Add
                                another email</button></a>
                        <div class="col-md-12 form-group"><label class="labels">Change Password</label><br>
                            <a routerLink="/changepassword"><button class="btn btn-primary btndefault  "
                                    type="button">Update</button></a>
                        </div>

                        <div class="col-md-12 form-group">
                            <label class="labels" for="Language">Language</label>
                            <select id="Language" name="Language" class="form-control form-select">
                                <option value="English" selected>English</option>
                                <option value="Canadian">Canadian</option>
                                <option value="Japenese">Japanese</option>
                                <option value="French">French</option>
                            </select>
                        </div>

                    </div>
                    <!--Validation part ends-->
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="labels" for="Location">Location</label>
                                <select id="location" name="location" class="form-control form-select">
                                    <option value="SriLanka">Sri Lanka</option>
                                    <option value="India">India</option>
                                    <option value="Canada" selected>Canada</option>
                                    <option value="Japan">Japan</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6"><label class="labels">State/Region</label><input type="text"
                                class="form-control" value="" placeholder="State"></div>
                    </div>
                    <div class="mt-4 text-center form-group">
                        <button type="submit" class="btn btn-info custom-btn submitButton" [disabled]="!form.valid">Save Changes</button>
                    </div>
                    <hr>
                    <div class="mt-4 text-left"><button class="btn  btn-outline-danger" type="button" >Logout</button>
                    </div>
                </div>
            </form>
            <!-- </form> -->
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div>
                    <img src="https://previews.123rf.com/images/sergeypykhonin/sergeypykhonin1804/sergeypykhonin180400101/99777347-happy-male-driver-rides-car-driving-trip-taxi-concept-cartoon-vector.jpg"
                        alt="" width="400px">
                </div>
                <div class="sidetext">
                    <h5 id="text-left">Get a ride in one minute</h5>
                    <p id="text-left-p">Click here to get a ride from the web browser</p>
                    <a href=""><button class="btn btn-primary request " type="button">Request Ride</button></a>
                </div>
            </div>
        </div>
    </div>
</div>